---
const { data } = Astro.props;
---

<a href=`member/${data.id}`>
  <article>
    <img src=`https://flxrgxrvxeximsskwubc.supabase.co/storage/v1/object/public/people/${data.image}` alt="profilbillede" />
    <div>
      <h2>{data.firstname} {data.lastname}</h2>
      <p>Email: {data.email}</p>
      <p>Mobil: {data.mobile}</p>
    </div>
  </article>
</a>

<style>
  img {
    max-width: 100%;
  }
  article {
    text-align: right;
    border-right: 1px solid;
  }
  div {
    padding-right: 1rem;
  }
</style>
